#auth-name {
    font-weight:600;
}

#book-name, .cliffhanger {
    font-style:italic;
}

html, body {
    height: 100vh;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../imgs/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}