#auth-name {
    font-weight:600;
}

p, h1 {
    color:white
}

#book-name, .cliffhanger {
    font-style:italic;
}
 
html, body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
body {
    background-image: url('../imgs/bg1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}